In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset
dataset = pd.read_csv('/home/kumar/Machine_Learning/Multiple_Linear_Regression/datasets1.csv')

dataset.drop(['Vin'], axis = 1, inplace = True)
dataset.drop(['State'], axis = 1, inplace = True)
dataset.drop(['City'], axis = 1, inplace = True)
dataset.drop(['Model'], axis = 1, inplace = True)
dataset.head()

   Price  Year  Mileage   Make
0   8995  2014    35725  Acura
1  10888  2013    19606  Acura
2   8995  2013    48851  Acura
3  10999  2014    39922  Acura
4  14799  2016    22142  Acura

In [21]:

X = dataset.iloc[:, 1:].values
y = dataset.iloc[:, 0].values

print(X)
# # Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

[[2014 35725 'Acura']
 [2013 19606 'Acura']
 [2013 48851 'Acura']
 ...
 [2016 28941 'Volvo']
 [2017 3005 'Volvo']
 [2017 2502 'Volvo']]

IndexError: index 3 is out of bounds for axis 1 with size 3